/*
---------------------------------
ABOUT PAGE
---------------------------------
*/

/* PERSONAL SKILLS */
.card {
    color: red;
}

.accordion:hover  {
    color: #131ef0;
}

hr.red-line {
    width: 80%;
    border-top: 3px solid #ff0000;
    margin-top: 2em;
}