<!--EXTENDS FROM BASE-->
{% extends 'base.html' %}


<!--CUSTOM TITLE-->
{% block title %}
    <title>Your Password Has Been Reset</title>
{% endblock %}


<!--CONTENT-->
{% block content %}

<div class="container-fluid padding">
    <div class="row text-center welcome">
        <div class="col-12">
            <div class="alert alert-info">
                <h1>Your password has been reset</h1>
            </div>
            <h6><a href="{% url 'users:users-login' %}">Login here</a></h6>
        </div>
    </div>
</div>

{% endblock %}

