/*@import url('{% static 'main_font.css' %}');*/

/*
---------------------------------
BODY
---------------------------------
*/
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Chivo', sans-serif;
    background-color: #fafbff;
}

body { 
    padding-top: 5.275em; 
}



/*
---------------------------------
GENERAL
---------------------------------
*/
.padding {
    padding-top: 2em;
    padding-bottom: 2em;
}

.welcome {
    width: 80%;
    margin: 0 auto;
}

.red-line hr {
    width: 80%;
    border-top: 3px solid #ff0000;
    margin-top: 2em;
}
