<!--LOADING THE STYLESHEET-->
{% load static %}
<link rel="stylesheet" href="{% static 'components_stylesheets/navbar.css' %}">

<!--THE NAVBAR-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="main-navbar">
  <!--Main navbar link-->
  <a class="navbar-brand" id="navbar-brand" href="/">Nathan Martinez</a>

  <!--Toggle switch-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--Links-->
  <div class="navbar-collapse collapse justify-content-end" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" id="projects-nav-item">
        <a class="nav-link" id="projects-nav-link" href="{% url 'projects' %}">Projects</a>
      </li>
      <li class="nav-item" id="about-nav-item">
        <a class="nav-link" id="about-nav-link" href="{% url 'about' %}">About</a>
      </li>

      {% if user.is_authenticated %}
        <li class="nav-item" id="profile-nav-item">
          <a class="nav-link" id="profile-nav-link" href="{% url 'users:users-profile' %}">Profile</a>
        </li>
        <li class="nav-item" id="logout-nav-item">
          <a class="nav-link" id="logout-nav-link" href="{% url 'users:users-logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item" id="login-nav-item">
          <a class="nav-link" id="login-nav-link" href="{% url 'users:users-login' %}">Login</a>
        </li>
        <li class="nav-item" id="register-nav-item">
          <a class="nav-link" id="register-nav-link" href="{% url 'users:users-register' %}">Register</a>
        </li>
      {% endif %}

    </ul>
  </div>
</nav>