<!--LOADING THE STYLESHEET-->
{% load static %}
<link rel="stylesheet" href="{% static 'components_stylesheets/socials.css' %}">


<!--THE SOCIALS-->
<div class="container-fluid padding">
    <div class="row text-center welcome">
        <div class="col-12">
            <h1 class="display-4">Connect with me</h1>
        </div>
        <hr class="red-line">
        <div class="col-12 social padding">
                <a href="https://www.linkedin.com/in/nathanemartinez/" target="_blank"><i class="fab fa-linkedin fa-4x"></i></a>
                <a href="https://github.com/nathanemartinez" target="_blank"><i class="fab fa-github fa-4x"></i></a>
        </div>
    </div>
</div>
