/*
---------------------------------
CAROUSEL
---------------------------------
*/

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1 {
    font-size: 600%;
    /* vertical, horizontal, width, color */
    text-shadow: 5px 5px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    text-shadow: 2px 2px 15px #000;
}
