/*
---------------------------------
SKILLS
---------------------------------
*/

/* FOR HOME PAGE */
.fa-python, .fa-graduation-cap, .fa-language{
    font-size: 8em;
    margin: .3em;
    color: black;
}

.fa-python:hover, .fa-graduation-cap:hover, .fa-language:hover{
    color: #615eff;
}

hr.red-line {
    width: 80%;
    border-top: 3px solid #ff0000;
    margin-top: 2em;
}