<!--TESTER FILE - NOT MADE FOR PRODUCTION-->
<!--EXTENDS FROM BASE-->
{% extends 'base.html' %}
<!--LOADS STATIC FILES-->
{% load static %}


<!--CUSTOM TITLE-->
{% block title %}
    <title>Tester1</title>
{% endblock %}


<!--Do not include navbar-->
{% block navbar %}
<!--Content-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Nathan</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

{% endblock %}



<!--CONTENT-->
{% block content %}
<div class="container">
    <div class="row mt-sm-12 mt-lg-5 ">
        <div class="col-sm-12 col-lg-8">
            <div class="card mt-4">
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some text for the card</p>
                    <a href="#" class="card-link">A link</a>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-lg-2">
            <div class="card mt-4">
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some text for the card</p>
                    <a href="#" class="card-link">A link</a>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-lg-2">
            <div class="card mt-4">
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some text for the card</p>
                    <a href="#" class="card-link">A link</a>
                </div>

            </div>
        </div>

    </div>
</div>


<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          404 LINKS
        </button>
      </h5>
    </div>

    <!--"collapse show" = show-->
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
              <tr>
                  <th>Code</th>
                  <th>Link Text</th>
                  <th>Link</th>
              </tr>
              <tr>
                  <td>yoyaet</td>
                  <td>yoyaet</td>
                  <td>yoyaet</td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}